<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myNewsLabel">Create or edit a News</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!news.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="news.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="news.title" required minlength="1"/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_image_url">Image Url</label>
            <input type="text" class="form-control" name="image_url" id="field_image_url"
                [(ngModel)]="news.image_url" required minlength="1"/>
            <div [hidden]="!(editForm.controls.image_url?.dirty && editForm.controls.image_url?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.image_url?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.image_url?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="news.description" required minlength="1"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="news.text" required minlength="1"/>
            <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_group">Group</label>
            <input type="text" class="form-control" name="group" id="field_group"
                [(ngModel)]="news.group" required minlength="1"/>
            <div [hidden]="!(editForm.controls.group?.dirty && editForm.controls.group?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.group?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.group?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_user_news">User News</label>
            <select class="form-control" id="field_user_news" name="user_news" [(ngModel)]="news.user_newsId"  required>
                <option *ngIf="!editForm.value.user_news" [ngValue]="null" selected></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user_news?.dirty && editForm.controls.user_news?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user_news?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
